name: Build container image for PR testing

on:
  pull_request:
    branch: main
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu
      - name: Set up latest stable Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-tags: 1
          fetch-depth: 1

      - name: Determine image tag
        id: set_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/pull/* ]]; then
            PR_NUMBER=$(echo "${GITHUB_REF}" | awk -F'/' '{print $3}')
            TAG="pr-${PR_NUMBER}"
          else
            TAG="test"
          fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "Computed tag: ${TAG}"

      # Set environment variables required by GoReleaser
      - name: Set build environment variables
        run: |
          echo "GIT_STATE=$(if git diff-index --quiet HEAD --; then echo 'clean'; else echo 'dirty'; fi)" >> $GITHUB_ENV
          echo "BUILD_HOST=$(hostname)" >> $GITHUB_ENV
          echo "GO_VERSION=$(go version | awk '{print $3}')" >> $GITHUB_ENV
          echo "BUILD_USER=$(whoami)" >> $GITHUB_ENV
          echo "CGO_ENABLED=1" >> $GITHUB_ENV

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with goreleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: '~> v2'
          args: build --clean --snapshot --single-target
        id: goreleaser

      - name: Copy binaries
        run: cp dist/core*_linux_amd64*/* ./

      - name: Build and push Docker image
        # Only run this step if a valid tag is computed
        if: steps.set_tag.outputs.tag != ''
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/openchami/coresmd:${{ steps.set_tag.outputs.tag }}
